<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourMoney"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.YourMoney">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="io.sentry.dsn" android:value="https://5f138b27212e4d98b0ba31e1265196ae@o4505131568791552.ingest.sentry.io/4505131626987520" />
        <meta-data android:name="io.sentry.debug" android:value="true" />
        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
        <meta-data android:name="io.sentry.traces.profiling.sample-rate" android:value="1.0" />
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
        <meta-data android:name="io.sentry.breadcrumbs.user-interaction" android:value="true" />

        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" />

    </application>

</manifest>